#overline {
    text-decoration: overline red 3px;
    font-style: italic;
    font-weight: bold;
    font-size: 16pt;
}

#through {
    text-decoration: line-through blue 2px;
    font-style: normal;
    font-weight: lighter;
    font-size: 13pt;
}

#underline {
    text-decoration: underline green 2px;
    font-style: italic;
    font-size: 20pt;
    font-weight: bolder;
}

#overunderline {
    text-decoration: underline overline purple;
    font-style: italic;
    font-weight: lighter;
    font-size: 10pt;
}
